<div class="row-fluid">
  <div class="btn-group">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
      New
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Task</a></li>
      <li><%= link_to 'Project', new_list_path %></li>
    </ul>
  </div>
</div>

&nbsp;

<div class="row-fluid">
  <div class="span3">
    <div class="panel">
      <ul class="nav nav-list">
        <li class="active">
          <a href="#">Inbox</a>
        </li>
        <li class="nav-header">
          Active Projects
        </li>
        <% @lists.each do |list| %>
          <li>
            <a href="#"><%= list.title %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="span6">
    <div class="panel">
      <h2>Inbox</h2>

      <%= render 'form' %>

      <ul class="todo">
        <%= render @tasks %>
      </ul>
      </div>
  </div>

  <div class="span3">&nbsp;
  </div>
</div>