<div class="row-fluid">
  <div class="btn-group">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
      New
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Task</a></li>
      <li><a href="#">Project</a></li>
    </ul>
  </div>
</div>

&nbsp;

<div class="row-fluid">
  <div class="span3">
    <div class="panel">
      <ul class="nav nav-list">
        <li class="active">
          <a href="#">Inbox</a>
        </li>
        <li class="nav-header">
          Active Projects
        </li>
        <li>
          <a href="#">Project 1</a>
        </li>
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li>
          <a href="#">Another Project</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="span6">
    <div class="panel">
      <h2>Inbox</h2>

      <input type="textbox" class="span5" /> <input type="button" value="Add task" class="btn" />

      <ul class="todo">
        <%= render @tasks %>
      </ul>
      </div>
  </div>

  <div class="span3">&nbsp;
  </div>
</div>