<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <header class="row-fluid">
      <div class="span5">
        <h1>Daniel's Dashboard</h1>
      </div>

      <div class="pull-right panel form-search">
        <a href="https://w3.ibm.com/bluepages/myProfile.wss">Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <input class="input-medium search-query" type="textbox" placeholder="Search" />
        <button type="submit" class="btn">Search</button>
      </div>
    </header>

    <div class="row-fluid">
      <div class="tabbable">
        <ul class="nav nav-pills">
          <li class="active"><a href="#1" data-toggle="tab">Dashboard</a></li>
          <li><a href="#2" data-toggle="tab">Tasks</a></li>
          <li><a href="#3" data-toggle="tab">Calendar</a></li>
          <li><a href="#4" data-toggle="tab">Notebook</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="1">
                <div class="row-fluid">
      <div class="span3">
        <div class="panel">
        <h2>Links</h2>
        <ul class="links">
          <li><a href="">w3</a></li>
          <li><a href="">Bond</a></li>
          <li><a href="">Expense Reinbursement</a></li>
          <li><a href="">Careersmart</a></li>
          <li><a href="">IT Help Central</a></li>
          <li><a href="">Lotus Connections</a></li>
        </ul>
        </div>

        <div class="panel">
          <h2>Targets</h2>
        </div>
      </div>

      <div class="span6">
        <div class="panel">
          <h2>Todo</h2>

          <input type="textbox" size="60" class="span5" /> <input type="button" value="Add task" class="btn" />

          <ul class="todo">
            <li><input type="checkbox" />Lorem ipsum dolor sit amet.</li>
            <li><input type="checkbox" />Lorem ipsum dolor sit amet, consectetur adipiscing.</li>
            <li><input type="checkbox" />Sed at ipsum velit. Pellentesque.</li>
            <li><input type="checkbox" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur.</li>
            <li><input type="checkbox" />Cum sociis natoque penatibus et magnis dis parturient montes.</li>
            <li><input type="checkbox" />Lotus Connections</li>
          </ul>
          </div>
      </div>



      <div class="span3">
        <div class="panel">
          <h2>Utilisation</h2>
          <span class="big">50%</span>
          <div class="progress progress-info progress-striped">
          <div class="bar" style="width: 50%;"></div>
          </div>
        </div>

        

        <div class="panel">
          <h2>Competencies</h2>
          <ul>
            <li>Embrace challenge</li>
            <li>Partner for client's success</li>
            <li>Collaborate globally</li>
            <li>Act with a systemic perspective</li>
            <li>Build mutual trust</li>
            <li>Influence through expertise</li>
            <li>Continuously transform</li>
            <li>Communicate for impact</li>
            <li>Help IBMers succeed</li>
          </ul>
        </div>
      </div>
    </div>
          </div>

          <div class="tab-pane" id="2">
            <div class="row-fluid">
              <div class="btn-group">
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                  New
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Task</a></li>
                  <li><a href="#">Project</a></li>
                </ul>
              </div>
            </div>

&nbsp;

            <div class="row-fluid">
              <div class="span3">
                <div class="panel">
                  <ul class="nav nav-list">
                    <li class="active">
                      <a href="#">Inbox</a>
                    </li>
                    <li class="nav-header">
                      Active Projects
                    </li>
                    <li>
                      <a href="#">Project 1</a>
                    </li>
                    <li>
                      <a href="#">Dashboard</a>
                    </li>
                    <li>
                      <a href="#">Another Project</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="span6">
                <div class="panel">
                  <h2>Inbox</h2>

                  <input type="textbox" class="span5" /> <input type="button" value="Add task" class="btn" />

                  <ul class="todo">
                    <li><input type="checkbox" />Lorem ipsum dolor sit amet.</li>
                    <li><input type="checkbox" />Lorem ipsum dolor sit amet, consectetur adipiscing.</li>
                    <li><input type="checkbox" />Sed at ipsum velit. Pellentesque.</li>
                    <li><input type="checkbox" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur.</li>
                    <li><input type="checkbox" />Cum sociis natoque penatibus et magnis dis parturient montes.</li>
                    <li><input type="checkbox" />Lotus Connections</li>
                  </ul>
                  </div>
              </div>

              <div class="span3">&nbsp;
              </div>
            </div>
          </div>

          <div class="tab-pane" id="3">
            <p>Howdy, I'm in Section 2.</p>
          </div>

          <div class="tab-pane" id="4">
            <p>Howdy, I'm in Section 2.</p>
          </div>
        </div>
      </div>
    </div>


    <%= yield %>
  </div>
</body>
</html>
